<article>
    <% let cover = _cover(post) %>
    <a href="<%- config.root %><%- post.path %>" class="image"><img src="<%- url_for(cover) %>" alt="" /></a>
    <h3><%- post.title %></h3>
    <p class="excerpt">
        <% if (post.description) { %>
            <%- post.description %>
        <% } else if(post.excerpt) { %>
            <%- post.excerpt %>
        <% } else { %>
            <%- post.content.replace(/<(?:.|\n)*?>/gm, '').substr(0, 300) %>
        <% } %>
    </p>
    <ul class="actions">
        <li><a href="<%- config.root %><%- post.path %>" class="button"><%= __('more') %></a></li>
    </ul>
</article>