<%- partial('_widget/header-line') %>

<%- partial('_widget/developing') %>
<!-- Banner -->
<section id="banner">
    <div class="content">
        <header>
            <h1><%- __(theme.hello.title, "<span class='theme-color'>" + theme.profile.name + "</span>") %></h1>
            <p><%- theme.hello.subtitle %></p>
        </header>
        <p><%- theme.hello.brif_intro %></p>
        <ul class="actions">
            <li>
                <a href="/about" class="button big"><%= __('learn_more') %></a>
            </li>
        </ul>
    </div>
    <span class="image object">
        <% let cover = _random_cover() %>
        <img src="<%- url_for(cover) %>" alt="" />
    </span>
</section>

<!-- Section -->
<section>
    <header class="major">
        <h2>Areas coverd</h2>
    </header>
    <div class="features">
        <% let topics = theme.topics; %>
        <% for (let i in topics) { %>
            <article>
                <span class="icon">
                    <i class="<%= topics[i]['icon'] %>"></i>
                </span>
                <div class="content">
                    <h3><%= topics[i]['title'] %></h3>
                    <p><%= topics[i]['description'] %></p>
                </div>
            </article>
        <% } %>
    </div>
</section>