<!-- Header -->
<header id="header">
    <a href="<%- url_for('/') %>" class="logo"><strong>ORIGINAL</strong> by <%- theme.profile.name %></a>
    <ul class="icons">
        <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a>
        </li>
        <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon brands fa-snapchat-ghost"><span class="label">Snapchat</span></a>
        </li>
        <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon brands fa-medium-m"><span class="label">Medium</span></a>
        </li>
    </ul>
</header>

<!-- Banner -->
<section id="banner">
    <div class="content">
        <header>
            <h1><%- __(theme.hello.title, "<span class='theme-color'>" + theme.profile.name + "</span>") %></h1>
            <p><%- theme.hello.subtitle %></p>
        </header>
        <p><%- theme.hello.brif_intro %></p>
        <ul class="actions">
            <li>
                <a href="#" class="button big"><%= __('learn_more') %></a>
            </li>
        </ul>
    </div>
    <span class="image object">
        <img src="/images/pic02.jpg" alt="" />
    </span>
</section>

<!-- Section -->
<section>
    <header class="major">
        <h2>Features of this blog</h2>
    </header>
    <div class="features">
        <% let topics = theme.topics; %>
        <% for (let i in topics) { %>
            <article>
                <span class="icon">
                    <i class="<%= topics[i]['icon'] %>"></i>
                </span>
                <div class="content">
                    <h3><%= topics[i]['title'] %></h3>
                    <p><%= topics[i]['description'] %></p>
                </div>
            </article>
        <% } %>
    </div>
</section>