<head>
    <meta charset="utf-8" />
    <title>我的博客</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <%- css('css/fakeloader.css') %>
    <%- css('fancybox/jquery.fancybox.css') %>
    <%- css('css/main.css') %>
    <%- css('css/prism.css') %>
    <%- css('css/chinmoku.css') %>
    <% if(theme.theme.night) { %>
        <%- css('css/night.css') %>
    <% } %>
</head>