<%- partial('_widget/header-line') %>
<%- partial('_widget/developing') %>

<!-- Content -->
<section style="padding-top: 2em;">
    <header class="main">
        <h2>
            <%- post.title %>
        </h2>
    </header>
    <% let cover = _cover(post) %>
    <span class="image main"><img src="<%- url_for(cover) %>" alt="" /></span>

    <div class="post-content">
        <% let content_str = post["_content"]; %>
        <%- post.content %>
    </div>
</section>