<!-- Sidebar -->
<div id="sidebar">
    <div class="inner">
        <!-- Search -->
        <section id="search" class="alt">
            <form method="post" action="#">
                <input type="text" name="query" id="query" placeholder="Search" autocomplete="off" />
            </form>
        </section>

        <!-- Menu -->
        <nav id="menu">
            <header class="major">
                <h2><%= theme.sidebar.title %></h2>
            </header>
            <% let menuList = theme.sidebar.menu; %>
            <ul>
                <li><a href="/">Home</a></li>
                <% if (site.categories.length){ %>
                    <li>
                        <span class="opener">Categories</span>
                        <%- list_categories(site.categories, { show_count: false, depth: 1 }) %>
                    </li>
                <% } %>

                <% for (var i in menuList) { %>
                    <% if (menuList[i]['sub']) { %>
                        <li>
                            <span class="opener"><%= menuList[i]['title'] %></span>
                            <% let subList = menuList[i]['subMenu']; %>
                            <ul>
                            <% for (var j in subList) { %>
                                <li><a href="<%= subList[j]['target'] %>"><%= subList[j]['title'] %></a></li>
                            <% } %>
                            </ul>
                        </li>
                    <% } else { %>
                        <li><a href="<%= menuList[i]['target'] %>"><%= menuList[i]['title'] %></a></li>
                    <% } %>
                <% } %>
            </ul>
        </nav>

        <% let isHome = path == 'index.html' %>
        <% if(isHome) { %>
            <%- partial('_widget/tagcloud') %>
            <%- partial('_widget/recommends') %>
            <%- partial('_widget/contact') %>
            <footer id="footer">
                <!-- <p class="copyright">&copy; Untitled. All rights reserved. Demo Images: <a href="https://unsplash.com">Unsplash</a>. Design: <a href="https://html5up.net">HTML5 UP</a>.</p> -->
                <p class="copyright">&copy; <a href="https://www.chinmoku.cc">Chinmoku</a> All Rights Reserved</p>
                <p><a href="http://www.beian.miit.gov.cn/">蜀ICP备20007757号</a></p>
            </footer>
        <% } %>

        <% let layout = page.layout %>
        <% if (layout == 'post') { %>
            <%- partial('_partial/post/toc') %>
        <% } %>
    </div>
</div>